<style>
	h1{
		font-size: 3em;
	}
	section{
		text-align: justify;
		margin-top: 13%;
		margin-bottom: 10%;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		height: 50%;
	}
	footer{
		position: fixed; bottom: 0; right: 0; left: 0; height: 45px;
		background: #EF9BBF;
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 1%;
		padding-top: 1%;
		text-align: center;
	}			
	article{
		border: 3px solid #BD771F;
		padding-left: 10%;
		padding-right: 10%;
		background: #FEF200;
		margin: 1%;
		color: saddlebrown;
	}
	nav{
		padding-top: 10px;
		height: 100%;
		width: 15%;
		left: 0;
		top: 125px;
 		position: fixed; 
		background: lightgoldenrodyellow;
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
		color: rosybrown;
	}
	aside{
		padding-top: 10px;
		height: 100%;
		width: 15%;
		right: 0;
		top: 125px;
 		position: fixed; 
		background: lightgoldenrodyellow;
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
		color: rosybrown;
	}
	a:link {
	 	text-decoration: none;
	 	color: deeppink;
	}	
	a:visited {
		color: #BD771F;
	}
	.bloquinhos{
		left:  0;	
		padding: 4px;
		background-color: #fdf300;
		border: 20px;
		margin: 3px;
		text-align: jus
	}
		body{
		background: skyblue;
		color: yellow;
		font-family: 'lobster', cursive;
		letter-spacing: 2px;
	}
		header{
		text-align: center;
		background: #EF9BBF;
		position: fixed; top: 0; right: 0; left: 0; height: 125px;
	}
	p{

	}
</style>