*{
	margin:  0;
	padding: 0;
}
body{
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,1);
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(186,186,186,1) 100%) no-repeat;
}
/* NAVEGADOR */
.navegador{
	overflow: auto;
	background-color: blue;
	height: 10vh;
	width: 100vw;
	position: ;
}