*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
header{

}
    #barra_cima{
        height: 80px;
        padding: 10px;
        position: relative;
        text-align: justify;
    }
        .barra_cima>img{
            display: inline-block;
        }
    #botao_explore{
        margin-left: 8%;
        margin-top: 10px;
        position: absolute;
        display: inline-block;
        background-color: #8ede50;
        color: whitesmoke;
        padding: 15px;
        border-radius: 50px;
        width: 100px;
        text-align: center;
        box-sizing: border-box;
    }
    #modal1{
        position: absolute;
        display: inline-block;
        margin-left: 23%;
    }
        #input1{
            outline: none;
            width: 350px;
            text-align: left;
            padding-left:10px;
            border-radius: 50px 50px 50px 50px;
            background-color: #c9c9c9;
            height: 50px;
            border: none;
            margin-top: 10px;
        }
        #input2{
            margin-top: 10px;
            position: absolute;
            top: 0;
            right:0;
            border: none;
            width: 100px;
            background-color: #c9c9c9;
            height: 50px;
            border-radius: 50px 50px 50px 50px;
        }
    #botao_login{
        margin-top: 10px;
        margin-left: 60%;
        position: absolute;
        display: inline-block;
        background-color: #f5ba00;
        color: whitesmoke;
        padding: 15px;
        border-radius: 50px;
        width: 150px;
        text-align: center;
        box-sizing: border-box;
    }
#botao_cadastre{
    margin-top: 10px;
    margin-left: 75%;
    position: absolute;
    display: inline-block;
    background-color: #ed2687;
    color: whitesmoke;
    padding: 15px;
    border-radius: 50px;
    width: 120px;
    text-align: center;
    box-sizing: border-box;
}
.info{
    width: 100%;
    height: 300px;
}
#a{
    position: relative;
    background-color: black;
    width: 45%;
    height: 350px;
    margin: 10px;
    float: left;
}
    #aa{
        position: absolute;
        width: 100%;
        height: 25%;
        background-color: grey;
    }
    #ab{
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 50px;
        margin-top: 100px;
        background-color: green;
    }
    #ac{
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 160px;
        margin-top: 165px;
        background-color: red;
    }
#b{
    position: relative;
    background-color: black;
    width: 20%;
    height: 350px;
    margin: 10px;
    float: left;
}
#c{
    position: relative;
    background-color: black;
    width: 30%;
    height: 350px;
    margin: 10px;
    float: left;
}