.dropdown-menu{
	padding: 5px;
	left: -40px;
	background-color: #00897b;
}
.dropdown{
	
}
#dropdownCadastro{
	background-color: ;
}

.navbar{
	user-select: none;
	background-color: #004d40;
}
	.navbar h2{
		color: #ffd54f;
	}
	.dropdown-toggle{
		background-color: #009688;
	}
		.dropdown-toggle:hover{
			background-color: #26a69a;
		}
		.btn-secondary{
			background-color: #4db6ac;
		}
		#logar, #cadastrar, .finalizar{
			background-color: #ffa000;
			cursor: pointer;
		}
		
		#botaoSair, .home{
			cursor: pointer;
		}
.display{
	text-align: center;
		margin-top: 30px;
		padding:  10px;
}
.card{
	float: left;
}
.list-group-item{
	color: #aed581;
	font-weight: bolder;
	font-size: 18pt;
}

.adccart{
	background-color: #dcedc8;
	border: none;
	width: 110px;
	margin-left: 10px;
}
#quantidade{
	margin-left: 8px;
	background-color: #ffd54f;
	border: none;
	padding: 5px;
}
	.adccart:hover{
		background-color: #aed581;
	}

.foto, .nomeP, .valorP, .quantidadeP{
	padding: 2px;
}

.finalizar{
	display: inline-block;
}
.bloco{
	text-align: center;
	width: 350px;
}
.hidden{
	display: none;
}
.fotoA, .nome,.valor, .valorDp, .quantidade{
	float: left;
	padding: 20px;
}
.produto{
	border: solid;
	margin-top: 5px;
	border-width: 1px;
	border-color: darkgoldenrod;
}
.total{
	margin-left: 50px;
}
.Fcompra{
	background-color: #ffca28;
	cursor: pointer;
	margin: 40px;
}
h4{text-align: center}
#labelErro1, #labelErro2, #labelErroA, #labelErroB{
	color: ghostwhite;
	background-color: red;
}